certifi==2023.11.17
    # via requests
charset-normalizer==3.3.2
    # via requests
idna==3.6
    # via requests
pygetwindow==0.0.9
    # via -r requirements.in
psutil
    # via -r requirements.in
pyngrok==7.0.3
    # via -r requirements.in
pyrect==0.2.0
    # via pygetwindow
pyyaml==6.0.1
    # via pyngrok
requests==2.31.0
    # via -r requirements.in
urllib3==2.1.0
    # via requests
